<form (ngSubmit)="crearTask()" autocomplete="off">

    <h1 mat-dialog-title>Añade una nueva tarea a tu workflow</h1>
  
    <div mat-dialog-content>
      <p>Cual es el nombre de tu nueva Tarea?</p>
  
      <mat-form-field>
        <mat-label>Nombre Tarea</mat-label>
        <input  [(ngModel)]="Task.nombre" matInput name="nombre"  class="form-control" required type="text" placeholder="ingresa Nombre..." >
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="reset">cancelar</button>
      <button mat-button type="submit">crear</button>
    </div>
  </form>
