

.main-content {
    display: flex;
    flex-direction: column;
    padding:20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 35px;
}

.title_home{
    padding-left: 20px;
}
.title_has-text-primary{
text-align: center;

}

.task {
    display: flex;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
    background-color:  rgb(37, 125, 160);

    align-items: center;
    
    &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
    
        &:active {
            transform: scale(0.95);
        }
        
        &:hover {
            .task-buttons {
                opacity: 1;
                transform: scale(1);
            }
        }
    }


    .task-buttons {
        transition: opacity 0.2s, transform 0.2s;
        opacity: 0;
        transform: scale(0.85);
        position: absolute;
        right: 60px;         
    }
}

.circle-button-right{
    bottom: 60px;
    position: absolute;
    right: 35px;
    height: 80px;
    width: 80px;
    color: white ;

}

.circle-button-left{
    bottom: 60px;
    position: absolute;
    left: 35px;
    height: 80px;
    width: 80px;
    color: white ;

}
