<mat-sidenav-container fullscreen autosize="true">


    <mat-sidenav class="sidebar" mode="side" #sidenav opened position="start">


        <h1 class="title_has-text-primary">
            Lista de Workflows
        </h1>


        <app-workflow></app-workflow>



    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">

            <button mat-button color="accent" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

            <span>   Troya Workflow  </span>

            <span class="toolbar-spacer"></span>

            <button (click)="salir()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>login</mat-icon>
        </button>


        </mat-toolbar>


        <div class="main-content">
            <h2 class="title_home"> Tareas del flujo </h2>

            

            <div class="main-content" >
                <h2> </h2> 

                    <div class="task" *ngFor="let task of tasks">
                        <p>{{task.nombre}}</p>
                        <div class="task-buttons">

                            <button mat-mini-fab color="primary" style="margin: 5px;" (click)="openEditDialogTask(task)">
                        <mat-icon>edit</mat-icon>
                    </button>

                            <button mat-mini-fab color="warn" style="margin: 5px" (click)="deleteTask(task.id)">
                        <mat-icon>delete</mat-icon>
                    </button>

                        </div>
                    </div>


                    <button mat-mini-fab class="circle-button-left" color="accent" (click)="openDialog()">
                        <mat-icon>add</mat-icon>
                    </button>

                    <button mat-mini-fab class="circle-button-right" color="warn" (click)="deleteTaskAll()">
                    <mat-icon>delete</mat-icon>
                    </button>


            </div>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container> 