<div class="center-content" [class.light-theme]="otherTheme">
    <mat-card >
      <!-- Header de la Tarjeta -->
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Bienvenido a Troya</mat-card-title>
        <mat-card-subtitle>Diseña tus flujos de tareas</mat-card-subtitle>
      </mat-card-header>
  
      <!-- Aqui comienza el contenido del Login -->
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Login" >
            <form #formularioLogin="ngForm" (ngSubmit)="login(formularioLogin)" autocomplete="off">
               <!--Correo Campo -->


              <mat-form-field >
                <mat-label >Correo</mat-label>
                <input 
                  type="text" 
                  matInput 
                  placeholder="Email" 
                  email 
                  name="email"
                  required
                  [(ngModel)]="usuario.email"                
                  >
                <mat-icon matSuffix>email</mat-icon>   
                <mat-error *ngIf="formularioLogin.submitted && formularioLogin.controls['email'].errors"
                >El correo es obligatorio</mat-error>  
              </mat-form-field>
    
              <!--Constraseña Campo -->
    
              <mat-form-field  >
                <mat-label>Contraseña</mat-label>
                <input 
                  name="password"
                  type="password" 
                  matInput 
                  [(ngModel)]="usuario.password"
                  placeholder="Password" 
                  required
                  minlength="4"  >
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="formularioLogin.submitted && formularioLogin.controls['password'].errors"
                >La contraseña  es obligatorio</mat-error>  
              </mat-form-field>
              <div class="contact100-form-checkbox">
                <input [(ngModel)]="recordarme"
                       class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">
                    Recordar mi usuario
                </label>
              </div>

  
              <button mat-raised-button color="primary" class="button" type="submit">Ingresar</button>

            </form>

          </mat-tab>
  
  
          <mat-tab label="About">
              <section class="example-section">
                  <button (click)="changeTheme()" mat-raised-button color="primary">Change Theme </button>
              </section>
          </mat-tab>
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
  </div>