:host {
  display: flex;
  justify-content: center;
  margin: 200px 0px;
}

.mat-form-field {
  margin-top: 20px;
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;

}

.button {
  margin-bottom: 70px;
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header-image {
  background-image: url('src\assets\img\troya.png');
  background-size: cover;
}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100px;
  padding-left: 20px;
}