.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-grow: 1; 

    .list-menu-item {
        display: flex;
        padding: 7px;
        text-align: center;
        border-width: 100px;
        width: 93%;
        margin-bottom: 20px;
        border-radius: 10px ;
        border-color: rgb(255, 255, 255);
        

        &:hover {
            background: rgb(37, 125, 160);

        }

    }
}

.containerButton{
    
    margin: 10px;
    height: 30px;

    
    
}

.mat-raised-button{
    width: 283px;
}

// Mods Visuales 

// Botones Edit and Delete Workflow creados
.mat-mini-fab{
    
    height: 40;
    width: 40;
    margin-left: 5px;
    margin-right: 5px;
    

}

.edit_delete_workflow{
    text-align: right;
    // margin-inline-start: 160px;
}

.containerButton-mat-raised-button{
    height: 30px;
    background-color: blue;
}

.nombre_flujo_lista_workflow{
    color:rgb(255, 255, 255);
    text-decoration: none;
    

}

// Mods Visuales 


.flujo{
    padding-left: 90px;
    padding-top: 10px;
    color: black;
}

.workflows {

    display: inline-table;
    padding: 10px;
    border-radius: 5px;
    border-width: 100px;
    width: 84%;
    height: 1px;
    margin: 10px;
    text-align: center;
    

    background-color: rgba(23, 226, 175, 0.158);

    align-items: center;
    
    
    &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
    
        &:active {
            transform: scale(0.95);
        }
        
        &:hover {
            box-shadow: 0 0 0 5px  rgb(105, 240, 174);

        }
    }

 
}