<div class="containerButton">
    <button mat-raised-button buttonNewList color="accent" (click)="openDialog()">+ Añadir Flujo
        <mat-icon>check_circle_outline</mat-icon>
    </button>   
</div>

<div class="list-menu">
    <div *ngFor="let flujo of workflow; let i = index">

        <a class="workflows" [routerLink]="['/home', flujo.id]" routerLinkActive="is-active">
            <p class="nombre_flujo_lista_workflow" >{{ flujo.nombre }}</p>

            <div layout="row" layout-align="center center">
                <button mat-mini-fab color="accent" (click)="openEditDialog(flujo)">
            <mat-icon>edit</mat-icon>
            
          </button>
                <button mat-mini-fab color="warn" (click)="deleteWorkflow(flujo,i)">
            <mat-icon>delete_forever</mat-icon>
          </button>
            </div>

        </a>


    </div>

</div>

