
<form (ngSubmit)="crearWorkflow()" autocomplete="off">

  <h1 mat-dialog-title>Incorpora un nuevo flujo a tu empresa </h1>

  <div mat-dialog-content>
    <p>Cual es el nombre de tu nuevo flujo?</p>

    <mat-form-field>
      <mat-label>Nombre Flujo</mat-label>
      <input matInput name="nombre"  class="form-control" required type="text" placeholder="ingresa Nombre..." [(ngModel)]="workflow.nombre">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" type="reset">cancelar</button>
    <button mat-button type="submit">crear</button>
  </div>
</form>


