/* You can add global styles to this file, and also import other style files */


html,  { height: 100%; background-color: rgb(26, 194, 177) };

/* rgb(72, 119, 34) */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.puntero{
  cursor: pointer;
}

.w120{
  width: 120px;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


