@import '~@angular/material/theming';
@include mat-core();

.light-theme {
    $light-primary: mat-palette($mat-blue);
    $light-accent:  mat-palette($mat-amber, A200, A100, A400);
    $light-warn:    mat-palette($mat-deep-orange);
    $light-theme:   mat-light-theme((
      color: (
        primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
      )
    ));
    @include angular-material-theme($light-theme);
   
}


